/* News */

._news{
    margin-top: 70px;
}

.news__main{
    margin-top: 7%;
}
._news .content__header{
    margin-top: 7%;
    /* text-align: center; */
}

._news .content__headline{
    transition: all 0.2s;
}


._news .content__headline img{
    width: 100%;
    height: 200px;  
}

._news .text-down-img .content__text{
    font-size: 20px;
}
.main__content{
    margin-top: -7%;
    width: 100%;
}

.categoiry__content .content img:hover{
    -webkit-filter:brightness(85%);
    -moz-filter:brightness(85%);
    filter:brightness(85%);
}

@media (max-width: 768px){
    .main__content{
        margin-top: 2%;
    }

    
    .news__main{
        margin-top: 0%;
    }
}


